<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Add_event</servlet-name>
        <servlet-class>Add_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill_Generation</servlet-name>
        <servlet-class>Bill_Generation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Birth_search</servlet-name>
        <servlet-class>Birth_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Birth_Search</servlet-name>
        <servlet-class>Birth_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complaint</servlet-name>
        <servlet-class>Complaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Death</servlet-name>
        <servlet-class>Death</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Death_registration</servlet-name>
        <servlet-class>Death_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_birth</servlet-name>
        <servlet-class>New_birth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_connection</servlet-name>
        <servlet-class>New_connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_property</servlet-name>
        <servlet-class>New_property</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Property_tax</servlet-name>
        <servlet-class>Property_tax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pt_bill_generation</servlet-name>
        <servlet-class>Pt_bill_generation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_signup</servlet-name>
        <servlet-class>User_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Revenue_home</servlet-name>
        <servlet-class>Revenue_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_id</servlet-name>
        <servlet-class>Search_id</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_login</servlet-name>
        <servlet-class>User_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Water_Supply_Dept</servlet-name>
        <servlet-class>Water_Supply_Dept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Water_bill</servlet-name>
        <servlet-class>Water_bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_event</servlet-name>
        <url-pattern>/Add_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill_Generation</servlet-name>
        <url-pattern>/Bill_Generation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Birth_search</servlet-name>
        <url-pattern>/Birth_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Birth_Search</servlet-name>
        <url-pattern>/Birth_Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complaint</servlet-name>
        <url-pattern>/Complaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Death</servlet-name>
        <url-pattern>/Death</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Death_registration</servlet-name>
        <url-pattern>/Death_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_birth</servlet-name>
        <url-pattern>/New_birth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_connection</servlet-name>
        <url-pattern>/New_connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_property</servlet-name>
        <url-pattern>/New_property</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Property_tax</servlet-name>
        <url-pattern>/Property_tax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pt_bill_generation</servlet-name>
        <url-pattern>/Pt_bill_generation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_signup</servlet-name>
        <url-pattern>/User_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Revenue_home</servlet-name>
        <url-pattern>/Revenue_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_id</servlet-name>
        <url-pattern>/Search_id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_login</servlet-name>
        <url-pattern>/User_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Water_Supply_Dept</servlet-name>
        <url-pattern>/Water_Supply_Dept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Water_bill</servlet-name>
        <url-pattern>/Water_bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
